container_commands:
  01-install-dos2unix:
    command: yum -y -q install dos2unix
  02-run-dos2unix:
    command: dos2unix .ebextensions/*.*
  03-cp-server_xml:
    command: cp .ebextensions/server.xml /etc/tomcat8/server.xml
  04-copy-logrotate:
    command: cat .ebextensions/logrotate.conf.elasticbeanstalk > /etc/logrotate.elasticbeanstalk.hourly/logrotate.elasticbeanstalk.tomcat8.conf
  05-chmod-backup_s3:
    command: chmod +x .ebextensions/backup_s3.sh
  06-cp-backup_s3:
    command: cp .ebextensions/backup_s3.sh ~
  07-chmod-install_cron:
    command: chmod +x .ebextensions/install_cron.sh
  08-run-install_cron:
    command: .ebextensions/install_cron.sh
  09-chmod-install_aliases:
    command: chmod +x .ebextensions/install_aliases.sh
  10-run-install_aliases:
    command: .ebextensions/install_aliases.sh
  11-chmod-create_swap:
    command: chmod +x .ebextensions/create_swap.sh
  12-run-create_swap:
    command: .ebextensions/create_swap.sh
  13-yum-update:
    command: yum -y -q update
